@model IEnumerable<WebBanXeMay.Models.ThanhToan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDDatHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDPhuongThucThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienDaThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThanhToan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDDatHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDPhuongThucThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienDaThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThanhToan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDThanhToan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDThanhToan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDThanhToan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
